<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    
    <script type="text/javascript">
       
        function text_add(){ 
            var total_ta = document.getElementById('total_text');
            var t1 = document.getElementById('text1').value;             
            total_ta.value += t1;
        }
       
    </script>
</head>

<body>
    <textarea name="" id="total_text" cols="150" rows="10"></textarea>              
    <button onclick='text_add();' id="text1" calss='ta' value='haha '>ADD 
</body>

<script type="text/javascript">
    function text_add(num){ 
    var total_ta = document.getElementById('total_text');
    var t1 = document.getElementById('text1').value; // 각각의 텍스트 textarea의 value 값을 지정
    var t2 = document.getElementById('text2').value;
    var t3 = document.getElementById('text3').value;
    var t4 = document.getElementById('text4').value;
     
    //alert(eval('t'+num));
    // eval 함수 사용법검색 변수명중 t1~t4 로 주었다..t 는 고정이기에 eval로 문자 't'로 감싸고
    // num 값이 1~4까지 매개변수로 밑에 html코드 쪽에 지정해주었기때문에 더간단하다.
    
    var adt = eval('t'+num) + '\r\n'; //textarea에서 개행문자 제어법입니다.
    total_ta.value += adt;
     
     
    }
    </script>
    </head>
    <body>
        <div style='width:99%; border:1px solid black; height:900px;'>
            <textarea name="" id="total_text" cols="150" rows="10"></textarea>
            <br>
            <div class='block'>
               <textarea name="" id="text1" class='ta' cols="30" rows="16.5"></textarea>
               <button onclick='text_add(1);' />ADD 
            </div>
            <div class='block' style='margin-left:100px;'>
                <img src="2.jpg" alt="" width='256' height='256' />
                <textarea name="" id="text2" class='ta' cols="30" rows="16.5"></textarea>
                <button onclick='text_add(2)' />ADD
            </div>
            <div style='clear:both;'></div>
            <div class='block'>
                <img src="3.jpg" alt="" width='256' height='256' />
                <textarea name="" id="text3" class='ta' cols="30" rows="16.5"></textarea>
                <button onclick='text_add(3)' />ADD
            </div>
            <div class='block' style='margin-left:100px;'>
                <img src="4.jpg" alt="" width='256' height='256' />
                <textarea name="" id="text4" class='ta' cols="30" rows="16.5"></textarea>
                <button onclick='text_add(4)' />ADD
            </div>
        </div>    
    
</html>