<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>프론트-백엔드 연결 마지막 예제!</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css" />
  <!-- JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  <script>
    function listing() {
      // 1. 리뷰 목록을 서버에 요청하기
      // 2. 요청 성공 여부 확인하기
      // 3. 요청 성공했을 때 리뷰를 올바르게 화면에 나타내기
      $.ajax({
        type: "GET",
        url: "/pt_data",
        data: {},
        success: function (response) {
          console.log(response);
          let data = response['raw_data'];
          for (let i = 0; i < data.length; i++) {
            let pt_name = data[i]['name'];
            let pt_info = data[i]['info'];
            let pt_site = data[i]['site'];
            let pt_data = data[i]['data'];
            let pt_sex = data[i]['sex'];
            let pt_age = data[i]['age'];
            let temp_html = '<li>' + pt_name + ' - ' + pt_sex + '/' + pt_age + ' - ' + pt_info + ' - ' + pt_site + '</li>'
            $("#information").append(temp_html);
          }
        }
      })
    }



  </script>
</head>

<body>
  <p make_card()></p>
  <section class="hero is-warning">
    <div class="hero-body">
      <div class="container make-center">
        <h1 class="title">
          마이 페이보릿 무비스타😆
        </h1>
        <h2 class="subtitle">
          순위를 매겨봅시다
        </h2>
      </div>
    </div>
  </section>
  <button type="button" onclick=listing()>버튼</button>
  <button type="button" onclick=show2()>show 버튼</button>
  <ul id="information">
  </ul>

  </div>
</body>

</html>