<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Webpage Title -->
    <title>내일은 늦습니다! 오늘 바로 건강검진!!</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <!-- 구글폰트 -->
    <link href="https://fonts.googleapis.com/css?family=Stylish&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Do+Hyeon&display=swap" rel="stylesheet">

    <!-- CSS style 파일 분리 -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='homeworkcss.css') }}">

    <script type="text/javascript">
        function make_review() {
            // 1. 제목, 저자, 리뷰 내용을 가져옵니다.
            let name_give = $("#input_name").val();
            let address_give = $("#input_address").val();
            let number_give = $("#input_number").val();
            // 2. 제목, 저자, 리뷰 중 하나라도 입력하지 않았을 경우 alert를 띄웁니다.
            if (name_give == '') {
                alert('성함을 입력해 주세요.');
                $('#input-name').focus();
                return;
            } else if (address_give == '') {
                alert('주소를 입력해 주세요.');
                $('#input_address').focus();
                return;
            } else if (number_give == '') {
                alert('전화번호를 입력해 주세요.');
                $('#input_number').focus();
                return;
            }

            // 3. POST /reviews 에 저장을 요청합니다.
            $.ajax({
                type: 'POST', // 타입을 작성합니다.
                url: '/content', // url을 작성합니다.
                data: {
                    'name_give': name_give,
                    'address_give': address_give,
                    'number_give': number_give
                }, // data를 작성합니다. },
                success: function (response) {
                    if (response['result'] == 'success') {
                        alert(response['msg']);
                        $('#input_name').val('');
                        $('#input_address').val('');
                        $('#input_number').val('');
                        window.location.reload();
                    }
                }
            });
        }

        $(document).ready(function () {
            $('#orders-box').html('');
            listing();
        });

        function listing() {
            // 1. 리뷰 목록을 서버에 요청하기
            // 2. 요청 성공 여부 확인하기
            // 3. 요청 성공했을 때 리뷰를 올바르게 화면에 나타내기
            $.ajax({
                type: "GET",
                url: "/content",
                data: {},
                success: function (response) {
                    if (response['result'] == 'success') {
                        let received_data = response['msg'];
                        for (let i = 0; i < received_data.length; i++) {
                            m_data = received_data[i]
                            make_card(m_data['name'], m_data['adress'], m_data['number']);
                        }
                        // 2. 성공했을 때 리뷰를 올바르게 화면에 나타내기
                    } else {
                        alert('리뷰를 받아오지 못했습니다');
                    }
                }
            });
        }

        function make_card(name_give, address_give, number_give) {
            let temp_html = '<tr>\
                                <td>'+ name_give + '</td>\
                                <td>'+ address_give + '</td>\
                                <td>'+ number_give + '</td>\
                            </tr>';
            $('#orders-box').append(temp_html);
        }

        function is_long(obj) {
            let content = $(obj).val();
            if (content.length > 140) {
                alert('리뷰는 140자까지 기록할 수 있습니다.');
                $(obj).val(content.substring(0, content.length - 1));
            }
        }
    </script>

</head>

<body>
    <div class="total">
        <!--  상단부 사진 -->
        <p style="text-align:center">
            <img
                src='https://lh4.googleusercontent.com/proxy/ILiog6lZLnPTt6cSPa3lXx_aB3Z8Ps6Ratehoy4PA-CrtuRk-mMlTKk3IMTJVNGISSHGQh-MdlgOBzyngHhc14mWzgSrIGpWmitpoIGh39eQBOwwV1QmyXOXCe46bE5kp0L4fSQ1DEZRLFwCX6rt701r3Zhb4uk5TreOmlsZuxZ6Woo'>;
        </p>
        <!-- 제목과 설명 -->
        <div class="headdescription">
            <span class="heading" style="font-weight:bold"> 종합건강검진센터 </span>
            <!-- badge bootstrap -->
            <span class="badge badge-pill badge-primary">인기!!</span>
            <span class="small heading" style='font-size:12px'>
                <span style='color:rgb(177,47,47)'> 다양한 프로그램</span>을 갖춘 종합건진센터에서 검사받으세요!!</span>
            <p>
                저희 건강검진센터는 개개인의 건강한 삶을 위하여 건강진단 및 건강증진 프로그램을 다양하게 시행하고 있습니다.
                보다 과학적이고 전문적으로 신속, 정확한 검사를 위해 각 분야의 전문 인력과 다양한 프로그램, 첨단 장비를 갖추고 있습니다.
                또한 쾌적한 실내 환경에서 편안히 검사를 받으실 수 있도록 최선을 다하고 있습니다.
            </p>
        </div>
        <!-- 주문서 -->
        <div class="content">
            <h2> 신청 양식</h2>
            <p></p>
            <form>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">주문자성함</label>
                    <div class="col-sm-10">
                        <input id="input_name" type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword3" class="col-sm-2 col-form-label">검사종류</label>
                    <div class="col-sm-10">
                        <!-- dropbox로 변경 -->
                        <div class="dropdown">
                            <select id="input_select">
                                <option selected value>원하시는 항목을 선택해 주세요.</option>
                                <option value='1'>머리부터 발끝까지 whole body 검진</option>
                                <option value='2'>뇌 MRI + 갑상선 초음파</option>
                                <option value='3'>복부 CT와 상복부/비뇨기 초음파</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword3" class="col-sm-2 col-form-label">주소</label>
                    <div class="col-sm-10">
                        <input id="input_address" type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword3" class="col-sm-2 col-form-label">전화번호</label>
                    <div class="col-sm-10">
                        <input id="input_number" type="text" class="form-control">
                    </div>
                </div>
            </form>

            <!-- 마지막 신청 버튼 -->
            <div class="form-group row">
                <div class="col-sm-10" style="text-align:center">
                    <button onclick="make_review()" type="submit" class="btn btn-primary">건강검진
                        신청하기</button>
                </div>
            </div>

            <div class="orders">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">성함</th>
                            <th scope="col">주소</th>
                            <th scope="col">전화번호</th>
                        </tr>
                    </thead>
                    <tbody id="orders-box">
                        <tr>
                            
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
</body>

</html>